body{
    color: #ffffff;
    background-color: #fcecdd;
}

h1{
    font-family: 'ZCOOL KuaiLe', cursive;
    color: #ff6701;
    font-size: 40px;
}

h2{
    color:#fea82f;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
}
 p{
     font-size: 15px;
 }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  img {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	background-color: #fcfcfc;
	padding: 4px;
    border-radius: 10px;
}

hr{
    border-color:#fea82f
}